services:
 prometheus:
        image: {{ prometheus_image }}:{{ prometheus_version }}
        ports:
        - "{{ prometheus_port }}:9090"
        volumes:
        - prometheus_data:/prometheus
        - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
        restart: unless-stopped
 grafana:
    image: {{ grafana_image }}:{{ grafana_version }}
    ports:
      - "{{ grafana_port }}:3000"
    environment:
      GF_SECURITY_ADMIN_PASSWORD: {{ grafana_admin_password }}
    depends_on:
      - prometheus
    restart: unless-stopped

volumes:
  prometheus_data: